footer{
    background-color: var(--secondColor);
    color: var(--lastColor);
    padding: 0;
    left: 0;
    width: 100%;
    bottom :0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    bottom: 0;
}
.logoFooter{
    margin: 1vh;
    flex-shrink: 1;
}

.logoFooter-img{
    height: 80px;
    width: auto;
    border-radius: var(--usualBorderRadius);
}
.timetable{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: var(--fourthColor);
    opacity: 75%;
    line-height: 1.2px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    height: 100px;
}



