header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondColor);
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    z-index: 999;
    padding: 10px 20px;
    gap:20px;
    box-sizing: border-box;/*hola*/
}

.logo{
    margin-left: auto;
    flex-shrink: 1;
}

.logo img{
    height: 80px;
    width: auto;
    border-radius: var(--usualBorderRadius);
}

.searchDiv{
    display: flex;
    align-items: center;
    margin:0 20px;
    gap:15px;
    padding:3px;
    flex-grow: 1;/*hace que crezca la busqueda en proporción al resto de la pg*/
    max-width: 100%; 
    background-color:var(--lastColor);
    border-radius: var(--usualBorderRadius) ;
}

.searchbox{
    flex-grow: 1;
    min-width: 10%;
    border: none;
    padding: 8px 10px;
    outline: none;
}
.searchbutton{
    border: none;
}
.lupa{
    height: auto;
    transform: rotate(45deg);
}

.login, .cart {
    background-color: var(--secondColor); 
    color: var(--lastColor);   
    text-decoration: none;
    border-radius: var(--usualBorderRadius);
    white-space: nowrap;
    padding: 10px 20px;
    border: none;
    cursor:pointer;      
    transition: background 0.3s;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login svg,.cart svg{
    height: 20px;
    width: auto;
}

.loggedIn{
    position: absolute;
    top: 2.3rem;
    right: 11.8rem;
    width: 10px;
    height: 10px;
    background-color: #00e676;
    border-radius: 50%;
}

.cartNumber{
    margin-bottom: 5rem;
    right: -0.01rem;
    background-color: red;
    color: var(--lastColor);
    font-size: 0.7rem;
    padding-right: 0.3rem;
    border-radius: 50%;
    font-weight: bold;
}

.login:hover, .cart:hover, .burguerbutt:hover{
    background-color:var(--fourthColor);
    color: var(--secondColor);
}

.burguer {
    display: inline-block;
    justify-content: left;
}

.burguerbutt{
    background-color: var(--secondColor);
    padding: 10px 20px;
    border: none;
    border-radius: var(--usualBorderRadius);
    cursor: pointer;
    transition: background 0.3s;
}

.burguerbutt svg{
    width: 20px;
    height: 20px;   
}

.burguer:hover {
    display: block;
}