header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondColor);
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    z-index: 999;
    padding: 10px 20px;
    gap:20px;
    box-sizing: border-box;/*hola*/
}

.burguer {
    display: inline-block;
    justify-content: left;
}

.burguerbutt{
    background-color: var(--secondColor);
    padding: 10px 20px;
    border: none;
    border-radius: var(--usualBorderRadius);
    cursor: pointer;
}

.burguerbutt svg{
    width: 20px;
    height: 20px;   
}

/*Parte desplegable */


.burguer:hover {
    display: block;
}

.searchDiv{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin:0 20px;
    gap:15px;
}

.searchform{
    display: flex;
    flex-grow: 1;/*hace que crezca la busqueda en proporción al resto de la pg*/
    max-width: 100%; 
    background-color:var(--lastColor);
    border-radius: var(--usualBorderRadius) ;
    padding:3px;
    
}
.searchbox{
    flex-grow: 1;
    min-width: 10%;
    border: none;
    padding: 8px 10px;
    outline: none;
}
.searchbutton{
    border: none;
    cursor: pointer;
    background-color: var(--fourthColor);
}
.lupa{
    width: 50%;
    height: auto;
    transform: rotate(45deg);
    
}

.login, .cart {
    background-color: var(--secondColor); 
    color: var(--lastColor);   
    text-decoration: none;
    border-radius: var(--usualBorderRadius);
    white-space: nowrap;
    padding: 10px 20px;
    border: none;
    flex-shrink: 2;/*otra*/
    cursor:pointer;      
}
.loginText, .cartText{
    color:inherit; /*Hereda color de login y cart*/
    text-decoration: none;
}

.cart svg, .login svg{
    height: 20px;
    width: auto;
}

.logo{
    margin-left: auto;
    flex-shrink: 1;
}

.logo img{
    height: 80px;
    width: auto;
    border-radius: var(--usualBorderRadius);
}

.burguerbutt:hover, .login:hover, .cart:hover{
    background-color:var(--fourthColor);
    color: var(--secondColor);
}