<fieldset class="budget">
  <legend>PIDE TU PRESUPUESTO</legend>
  <img src="imagenes/General/budget2.png" alt="">

  <div class="overlay" *ngIf="bannerVisible">
    <div class="banner">
      <button class="close-btn" (click)="bannerVisible = false">✕</button>
      <p class="message-text">
        Su presupuesto se enviará al correo: <strong>{{ bannerEmail }}</strong>.
      </p>
    </div>
  </div>
  <form #formRef="ngForm" class="budgetForm" (ngSubmit)="submitRequest()" novalidate>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="form.name" name="name" required>
    <br>
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="form.email" required
     #emailRef="ngModel" [class.invalid]="emailRef.invalid && emailRef.touched"
    pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
    <div *ngIf="emailRef.invalid && emailRef.touched" class="error">
      Introduce un email válido.
    </div>
    <br>
    <label>Artista:</label>
    <select [(ngModel)]="form.artist" name="artist" required>
      <option value="">Selecciona un artista</option>
      <option value="alejandra">Alejandra López</option>
      <option value="pedro">Pedro Peña</option>
      <option value="raul">Raúl Suero</option>
      <option value="fernando">Fernando Peinado</option>
      <option value="aprendiz">Artista en prácticas</option>
    </select>
    <br>
    <div class="service">
      <label for="color">Tipo de servicio:</label><br>
        <input type="radio" id="color" name="service" value="color" [(ngModel)]="form.service">
        <label>&emsp;Tatuaje a color</label><br>
        <input type="radio" name="service" value="black" [(ngModel)]="form.service">
        <label>&emsp;Tatuaje blanco y negro</label><br>
        <input type="radio" name="service" value="piercing" [(ngModel)]="form.service">
        <label>&emsp;Piercing</label>
    </div>
    <br>
    <div class="size">
      <label>Alto aproximado (cm):</label>
      <input type="number" [(ngModel)]="form.height" name="height" min="2" max="60"
             [disabled]="form.service === 'piercing'" #heightRef="ngModel" >
      <div *ngIf="!heightRef.disabled && heightRef.invalid && (heightRef.dirty || heightRef.touched)" class="error">
        <div *ngIf="heightRef.errors?.['min'] || heightRef.errors?.['max']">
          El tatuaje debe estar entre 2 y 60 centímetros.
        </div>
      </div>
      
      <br>
      <label>Ancho aproximado (cm):</label>
      <input type="number" [(ngModel)]="form.width" name="width" min="2" max="60"
             [disabled]="form.service === 'piercing'" #widthRef="ngModel" >
            <!--widthRef(y todas las que son asi) detecta cuando está activo-->
      <div *ngIf="!widthRef.disabled && widthRef.invalid && (widthRef.dirty || widthRef.touched)" class="error">
        <div *ngIf="widthRef.errors?.['min'] || widthRef.errors?.['max']">
          El tatuaje debe estar entre 2 y 60 centímetros.
        </div>
      </div>
    </div>
    <br>
    <p>Suba una imagen de su tatuaje:</p>
    <label for="fileUpload" class="fileUpload" [class.disabledUpload]="form.service === 'piercing'">
      Selecionar...
    </label>
    <input type="file" id="fileUpload" [disabled]="form.service === 'piercing'"class="fileInput"/>
    <br>
    <label>Mensaje:</label>
    <input type="text" [(ngModel)]="form.message" name="message" class="message" placeholder="Consultas, sugerencias...">
    <br>
    <p *ngIf="form.service && form.artist">
      <strong>Presupuesto estimado:</strong>
      {{ getTotalPrice(form.service, form.artist, form.height, form.width) }} €
    </p>
    
    <button type="submit" class="submit" [disabled]="formRef.invalid">Enviar</button>
  </form>
</fieldset>
