legend{
    color: var(--lastColor);
    display: flex;
    text-align: center;
  }
  .budget{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 3rem;
    margin-top: 8rem;
  }

  .budget img{
    width: 50%;
    height: auto;
    border-radius: 16px;
    max-height:40rem;
  }

  .budgetForm{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-left: 1rem;
    color: var(--lastColor);
    flex-grow: 1;
    max-width: 50rem;
    min-width: 2rem;
    z-index: 1;
  }

  .budgetForm input, .budgetForm select{
    border-radius: 16px;
    border: solid 2px var(--lastColor);
    padding-left: 1rem;
    margin-top: 0.2rem;
    background-color: var(--fourthColor);
    color: var(--secondColor);
    font-family: var(--fontFamily);
  
  }

  .name, .email{
    min-width: 13rem;
    height: 1.5rem;
  }

  .budgetForm select, .submit{
    min-width: 3rem;
    height: 1.9rem;
  } 

  .message{
    height: 4rem;
  }

  .image::file-selector-button { 
    background-color: var(--fourthColor);
    border: none;
    padding: 0.4rem;
    font-family: var(--fontFamily);

  }

  .image:hover::file-selector-button {
    background-color: var(--lastColor);
    transform: scale(1.05);
  }
