<div class="budget">
    <img src="/imagenes/cita.png" alt="">
    <h2>Pide tu presupuesto: </h2>
    <form action="" method="get">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">Mensaje:</label>
        <input type="text" id="message" name="message" >

        <select id="artist" name="artist" required>
            <option value="">Selecciona un artista</option>
            <option value="artist1">Alejandra López</option>
            <option value="artist2">Pedro Peña</option>
            <option value="artist3">Raúl Suero</option>
            <option value="artist4">Fernando Peinado</option>
        </select>

        
        
        <input type="submit" name="submit" id="submit" value="Enviar">
    </form>
</div>