<div class="homeImgContainer" [ngClass]="{ 'hide': scrolled }">
  <img src="imagenes/General/home.png" alt="Bienvenida HopInk" class="homeImage" />
</div>

<section class="mostImportant">
  <div class="spaces" *ngFor="let space of spaces">
    <img [src]="space.imageUrl" [alt]="space.name" />
    <div class="spacesText">
      <h3>{{ space.name }}</h3>
      <p class="description">{{ space.description }}</p>
      <a [routerLink]="space.route" *ngIf="space.query" [queryParams]="space.query">Ver más</a>
      <a [routerLink]="space.route" *ngIf="!space.query">Ver más</a>
    </div>
  </div>
</section>