<div class="burguer-options" [ngClass]= "{'active': isVisible}">
    <a routerLink="/" (click)= "close()">Inicio</a>
    <a routerLink="/shop" (click)= "close()">Tienda</a>
    <a routerLink="/account" (click)= "close()">Mi cuenta</a>
    <a routerLink="/contact" fragment="date" (click)= "close()">Reserva tu cita</a>
    <a routerLink="/budget" (click)= "close()">Crea tu presupuesto</a>
    <a routerLink="/artists" (click)= "close()">Artistas</a>
    <a routerLink="/contact" fragment="contactBox" (click)= "close()">Contáctanos</a>
    <a routerLink="/contact" fragment="paragraph" (click)= "close()">Sobre nosotros</a>
</div>

